/* Element selector */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

/* ID selector */
#main-header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Class selector */
.subtitle {
  font-style: italic;
}

/* Descendant selector */
section h2 {
  margin-bottom: 10px;
}

   /* CSS COLORS */

.named-color {
  color: red;
}

.hex-color {
  color: #3498db;
}

.rgb-color {
  color: rgb(46, 204, 113);
}

.hsl-color {
  color: hsl(280, 60%, 50%);
}

   /* CSS BACKGROUNDS */

.backgrounds {
  background-color: #fff;
  padding: 20px;
}

.bg-box {
  height: 100px;
  background-image: linear-gradient(to right, #ff9966, #ff5e62);
  color: white;
  text-align: center;
  line-height: 100px;
}

/* ===============================
   CSS BORDERS
   =============================== */

.border-box {
  border: 5px dashed #333;
  padding: 15px;
  margin-bottom: 10px;
}

/* ===============================
   CSS OUTLINE
   =============================== */

.outline-box {
  outline: 4px solid red;
  padding: 15px;
}

/* ===============================
   CSS MARGINS & PADDING
   =============================== */

.spacing-box {
  margin: 30px;
  padding: 20px;
  background-color: #ddd;
}

/* ===============================
   CSS HEIGHT / WIDTH
   =============================== */

.box-model {
  width: 300px;
  height: 150px;
  background-color: lightblue;
  padding: 20px;
  border: 5px solid navy;
  margin: 20px;
}

/* ===============================
   CSS BOX MODEL
   =============================== */

.box-model {
  box-sizing: content-box;
}

/* ===============================
   CSS TEXT
   =============================== */

.text-style {
  text-align: justify;
  text-decoration: underline;
  text-transform: capitalize;
  letter-spacing: 2px;
  line-height: 1.8;
}

/* ===============================
   CSS FONTS
   =============================== */

.font-style {
  font-family: "Georgia", serif;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #222;
  color: white;
}
