body {
    font-family: Arial, sans-serif;
}

/* Borders on all sides */
.all-sides {
    border: 2px solid black;
    padding: 10px;
    margin: 5px 0;
}

/* Bottom border */
.bottom-border {
    border-bottom: 3px solid red;
    padding: 10px;
    margin: 5px 0;
}

/* Rounded borders */
.rounded {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0;
}

/* Left border color */
.left-border {
    border-left: 5px solid blue;
    padding: 10px;
    margin: 5px 0;
}

/* Border Styles */
.dotted {
    border: 2px dotted black;
    padding: 10px;
    margin: 5px 0;
}

.dashed {
    border: 2px dashed black;
    padding: 10px;
    margin: 5px 0;
}

.solid {
    border: 2px solid black;
    padding: 10px;
    margin: 5px 0;
}

.double {
    border: 4px double black;
    padding: 10px;
    margin: 5px 0;
}

.groove {
    border: 4px groove gray;
    padding: 10px;
    margin: 5px 0;
}

.ridge {
    border: 4px ridge gray;
    padding: 10px;
    margin: 5px 0;
}

.inset {
    border: 4px inset gray;
    padding: 10px;
    margin: 5px 0;
}

.outset {
    border: 4px outset gray;
    padding: 10px;
    margin: 5px 0;
}

.none {
    border-style: none;
    padding: 10px;
    margin: 5px 0;
}

.hidden {
    border-style: hidden;
    padding: 10px;
    margin: 5px 0;
}

.mix {
    border-style: dotted dashed solid double;
    padding: 10px;
    margin: 5px 0;
}

/* Border Widths */
.width1 {
    border: 5px solid black;
    padding: 10px;
    margin: 5px 0;
}

.width2 {
    border-width: medium;
    border-style: solid;
    padding: 10px;
    margin: 5px 0;
}

.width3 {
    border-width: 2px;
    border-style: dotted;
    padding: 10px;
    margin: 5px 0;
}

.width4 {
    border-width: thick;
    border-style: dotted;
    padding: 10px;
    margin: 5px 0;
}

/* Specific Side Widths */
.side-width1 {
    border-style: solid;
    border-width: 5px 20px;
    padding: 10px;
    margin: 5px 0;
}

.side-width2 {
    border-style: solid;
    border-width: 20px 5px;
    padding: 10px;
    margin: 5px 0;
}

.side-width3 {
    border-style: solid;
    border-width: 25px 10px 4px 35px;
    padding: 10px;
    margin: 5px 0;
}

/* Border Colors */
.color1 {
    border: 2px solid red;
    padding: 10px;
    margin: 5px 0;
}

.color2 {
    border: 2px solid green;
    padding: 10px;
    margin: 5px 0;
}

.color3 {
    border: 2px solid blue;
    padding: 10px;
    margin: 5px 0;
}

.color4 {
    border-style: solid;
    border-color: red green blue yellow;
    padding: 10px;
    margin: 5px 0;
}

/* Shorthand Borders */
.shorthand {
    border: 5px solid red;
    padding: 10px;
    margin: 5px 0;
}

.left-shorthand {
    border-left: 6px solid red;
    padding: 10px;
    margin: 5px 0;
}

.bottom-shorthand {
    border-bottom: 6px solid red;
    padding: 10px;
    margin: 5px 0;
}