body {
    font-family: Arial, sans-serif;
}

/* Margin on all sides */
.all-sides {
    margin: 70px;
    background-color: #f0f0f0;
    padding: 10px;
}

/* Individual sides */
.individual {
    margin-top: 100px;
    margin-right: 150px;
    margin-bottom: 100px;
    margin-left: 80px;
    background-color: #d0f0d0;
    padding: 10px;
}

/* Shorthand margin */
.shorthand-4 {
    margin: 25px 50px 75px 100px;
    background-color: #f0d0d0;
    padding: 10px;
}

.shorthand-3 {
    margin: 25px 50px 75px;
    background-color: #d0d0f0;
    padding: 10px;
}

.shorthand-2 {
    margin: 25px 50px;
    background-color: #f0f0d0;
    padding: 10px;
}

.shorthand-1 {
    margin: 25px;
    background-color: #d0f0f0;
    padding: 10px;
}

/* Auto value - horizontally centered */
.margin-auto {
    width: 300px;
    margin: auto;
    border: 1px solid red;
    padding: 10px;
    background-color: #ffe0b2;
}

/* Inherit value */
.parent {
    border: 1px solid red;
    margin-left: 100px;
    padding: 10px;
    background-color: #e0ffe0;
}

.inherit {
    margin-left: inherit;
    background-color: #c0ffc0;
    padding: 10px;
}

/* Margin collapse - headings */
.collapse1 {
    margin-bottom: 50px;
    background-color: #f0f0f0;
    padding: 10px;
}

.collapse2 {
    margin-top: 20px;
    background-color: #e0e0e0;
    padding: 10px;
}

/* Margin collapse - paragraphs */
.collapse3 {
    margin: 30px 0;
    background-color: #f0d0d0;
    padding: 10px;
}

.collapse4 {
    margin: 30px 0;
    background-color: #d0f0f0;
    padding: 10px;
}