body {
  font-family: Arial, sans-serif;
}

/* Padding on all sides */
.all-padding {
  padding: 70px;
  background-color: lightblue;
  margin: 10px 0;
}

/* Individual sides */
.individual-padding {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background-color: #cce5ff;
  margin: 10px 0;
}

/* Shorthand padding */
.padding-4 {
  padding: 25px 50px 75px 100px;
  background-color: #ffd6d6;
  margin: 10px 0;
}

.padding-3 {
  padding: 25px 50px 75px;
  background-color: #d6ffd6;
  margin: 10px 0;
}

.padding-2 {
  padding: 25px 50px;
  background-color: #fff0b3;
  margin: 10px 0;
}

.padding-1 {
  padding: 25px;
  background-color: #e6e6ff;
  margin: 10px 0;
}

/* Padding affects element width */
.padding-width {
  width: 300px;
  padding: 25px;
  background-color: #ffcccc;
  margin: 10px 0;
}

/* box-sizing: border-box */
.box-sizing {
  width: 300px;
  padding: 25px;
  box-sizing: border-box;
  background-color: #ccffcc;
  margin: 10px 0;
}

/* Inherit padding */
.parent {
  padding-left: 60px;
  border: 1px solid black;
  margin: 10px 0;
}

.inherit-padding {
  padding-left: inherit;
  background-color: #f0f0f0;
}
